[Unit]
Description=Start the Website

[Service]
WorkingDirectory=/var/www/
ExecStart=/home/ec2-user/.dotnet/dotnet /var/www/app/MenuPlanner.Host.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=website
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://*:80

[Install]
WantedBy=multi-user.target